<div style="margin:0; text-align:center; font-family:sans-serif;">
    <div style="max-width:860px; margin:0 auto;">

        <img src="https://images.winebuyers.com/unsafe/fit-in/860x150/_static/emails/lightbanner.png" style="width: 100%;">
        <hr style="height: 2px; border: 0; background: #ac9270; background: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff00), to(#ffffff00), color-stop(50%, #ac9270));">
        <div style="font-size: 28px; margin: 30px 0px 0px ; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: rgb(165, 140, 106); line-height: 1.5em;">
            Hi *|FIRST_NAME|*,
        </div>
        <div style="padding: 20px 20px 40px 20px;">
             
            <br />
            Great! *|TITLE|* is about to ship. *|COURIER|* has received shipping information from the shipper, and will usually pick up the shipment within a few hours.
            <br /><br />
            <strong>View Tracking Details:</strong> *|TRACKING_LINK|*<br />
            <strong>Tracking Number:</strong> *|TRACKING_NUMBER|*<br />
            <strong>Detail Status:</strong> *|DETAILED_STATUS|*<br />
            <strong>Courier:</strong> *|COURIER|*<br />
            <strong>Courier Contact:</strong> *|COURIER_CONTACT|*
            <br /><br />
            For any questions, please contact the courier directly.
            <br /><br />
            Thank you very much!
            <br /><br />
            *|STORE_NAME|* Customer Care<br />
            *|STORE_URL|*
        </div>

        <hr style="height: 2px; border: 0; background: #ac9270; background: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff00), to(#ffffff00), color-stop(50%, #ac9270));">
        <div style="font-size: 11px; width:100%; height:10%; background:white; padding:0; margin:0; text-align:center; padding-top:15px;">
        
        <div>This inbox is unattended, please don't reply to this email. If you would like to contact Customer Care, please email customercare@winebuyers.com</div>
    <div>
        <img src="https://images.winebuyers.com/unsafe/fit-in/10x100/_static/emails/tel.png" style="margin: 10px 5px 0px 5px;">
        <span>+44 (0)203 88 77 111</span>
    </div>
    <div>
        <img src="https://images.winebuyers.com/unsafe/fit-in/10x100/_static/emails/address.png" style="margin: 10px 5px 0px 5px;">
        <span>Winebuyers Ltd, 16 Great Chapel Street, London W1F 8FL</span>
    </div>
        <div style="margin-top: 20px;">
        
        </div>
        </div>
    </div>
</div>